body {
    background-image: linear-gradient(to bottom right, #474d5a,#111418);
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


html {
    font-size:30px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

}

.top-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    width: 100%;
    height: 100%;
    margin-bottom: 0.5rem;
}


.main-header {
    width: 14rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fade-in 1s ease-in, zoom-tilt 5s ease-in-out infinite;
    color:#fbfbfc;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes zoom-tilt {
    0% {
      transform: scale(1) rotate(0deg);
    }
    50% {
      transform: scale(1.2) rotate(1.5deg);
    }
    100% {
      transform: scale(1) rotate(0deg);
    }
  }

.main-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    background-color: #ffffff;
    border: 0.40rem solid #666b74;
    border-radius: 8px;
}


.grid1-container, .grid2-container {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 1fr);
    gap: 5px;
    padding: 10px;
}

.grid-item-grid1, .grid-item-grid2 {
    width: 40px;
    height: 40px;
    padding: 5px;
}

.grid-item-grid1 {
    background-color: #dff4ff;
}

.grid-item-grid2 {
    background-color: #ebebeb;
}

.water {
    background-color: #61c6ff;
}

.hitted {
    background-color: #ff0055 !important;
  }

.nameDiv {
    margin-top: 1.5rem;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rightName, .leftName {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 50%;
    border: black 1px solid;
    color: #fbfbfc;
    border-radius: 8px;
    font-size: 2rem;
}

.leftName {
    background-color: #ff0055;
}

.rightName {
    background-color: #717c96;
}


@media screen and (max-width: 1130px) {

    body {
        background-size: cover;
    }

    html {
        font-size: 15px;
    }
    
    .main-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    
    .grid1-container, .grid2-container {
        display: grid;
        grid-template-columns: repeat(10, 40px);
        grid-template-rows: repeat(10, 1fr);
        gap: 2px;
        padding: 10px;
        background-color: #f0f0f0;
    }


    .grid-item-grid1, .grid-item-grid2 {
        width: 30px;
        height: 30px;
        padding: 3px;
    }

    .grid-item-grid1 {
        background-color: #dff4ff;
    }
    
    .grid-item-grid2 {
        background-color: #ebebeb;
    }
    
    .water {
        background-color: #61c6ff;
    }
    
    .hitted {
        background-color: #ff0055 !important;
      }
    
    .nameDiv {
        margin-top: 1.5rem;
        width: 95%;
        height: 5rem;
        display: flex;
        justify-content: space-around;
        gap: 1rem;
        align-items: center;
    }
    
    .rightName, .leftName {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20rem;
        height: 50%;
        border: black 1px solid;
        color: #fbfbfc;
        border-radius: 8px;
    }
    
    .leftName {
        background-color: #ff0055;
    }
    
    .rightName {
        background-color: #717c96;
    }
  }

  @media screen and (max-width: 459px) {

    body {
        background-size: cover;
    }

    html {
        font-size: 10px;
    }

  
    
    .main-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    
    .grid1-container, .grid2-container {
        display: grid;
        grid-template-columns: repeat(10, 25px);
        grid-template-rows: repeat(10, 1fr);
        gap: 2px;
        padding: 10px;
        background-color: #f0f0f0;
    }


    .grid-item-grid1, .grid-item-grid2 {
        width: 20px;
        height: 20px;
        padding: 2px;
    }

    .grid-item-grid1 {
        background-color: #dff4ff;
    }
    
    .grid-item-grid2 {
        background-color: #ebebeb;
    }
    
    .water {
        background-color: #61c6ff;
    }
    
    .hitted {
        background-color: #ff0055 !important;
      }
    
    .nameDiv {
        margin-top: 1.5rem;
        width: 95%;
        height: 5rem;
        display: flex;
        justify-content: space-around;
        gap: 1rem;
        align-items: center;
    }
    
    .rightName, .leftName {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20rem;
        height: 50%;
        border: black 1px solid;
        color: #fbfbfc;
        border-radius: 8px;
    }
    
    .leftName {
        background-color: #ff0055;
    }
    
    .rightName {
        background-color: #717c96;
    }
  }